<?xml version="1.0" encoding="utf-8" ?>
<SETTING>
  <MONI_ID>tfm_siv_DetectFile</MONI_ID>
  <IS_MONI>Y</IS_MONI>
  <PROC_DATE></PROC_DATE>
  <LOG_PATH>LOG</LOG_PATH>
  <RULES>
    <RULE>
      <FILE_LIMIT>240</FILE_LIMIT>
      <SortType>0</SortType>
      <PATHS>
        <PATH>D:\Project\WinProject35\SIV\電子發票\SIV.6.0.2_TURNKEY目錄偵測\SIV.6.0.2\bin\Debug\LOG</PATH>
      </PATHS>
    </RULE>
    <RULE>
      <FILE_LIMIT>240</FILE_LIMIT>
      <SortType>1</SortType>
      <PATHS>
        <PATH>D:\Project\WinProject35\SIV\電子發票\SIV.6.0.2_TURNKEY目錄偵測\SIV.6.0.2\bin\Debug\LOG</PATH>
      </PATHS>
    </RULE>
  </RULES>
</SETTING>